html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.imagen_fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../img/escuela.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.6s;
  display: flex;
  justify-content: center; /* Centra los elementos en el navbar */
  align-items: center;
  padding: 5px 10px; /* Reduce el padding para que el navbar sea más compacto */
  z-index: 1000;
}

.navbar.sticky {
  background: #000000;
  transform: scaleY(1,2); /* En lugar de cambiar padding, reduce el tamaño con transform */
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Controla el ancho del contenedor principal del navbar */
  max-width: 1200px; /* Ancho máximo para dispositivos grandes */
  padding-left: -10;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los logos a la izquierda */
}

.logo {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 1.8em; /* Tamaño ajustado del título principal */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logos-secundarios {
  display: flex;
  flex-direction: column;
  margin-top: -5px; /* Ajusta el margen superior para un espaciado más compacto */
}

.logo1, .logo2 {
  font-weight: 500;
  font-size: 0.7em; /* Ajusta el tamaño de las fuentes secundarias */
  color: #FFFFFF;
  line-height: 1.2; /* Ajusta el espaciado entre las líneas de logo1 y logo2 */
}
.menu {
  display: flex;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-left: 20px; /* Espaciado entre los elementos del menú */
}

.menu ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1em; /* Ajusta el tamaño de fuente del menú */
  font-weight: 500;
  transition: 0.3s;
}  
.menu ul li a:hover {
  color: #FFD700;
}
.contenedor-text {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.text {
  font-size: calc(3em + 3.20vw);
  font-weight: lighter;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: calc(1px + 1vw);
}
.text1 {
  font-size: calc(1em + 0.20vw);
  font-weight: lighter;
  color: #FFFFFF;
  margin: 0;
  margin-top: 10px;
}
.button-container {
  margin-top: 10%;
}
.button1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
}
.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}
.cartaExpo {
  padding: 50px 0;
  background: #F5F5F5;
}
.titulo_carta {
  font-size: calc(2.5em + 1vw);
  font-weight: 300;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -30px;
}
.carta_contenedor {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.carta {
  width: 300px;
  background: #E9F5DB;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}
.carta:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  transform: translateY(-5px);
}
.imagen_carta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.contenido_carta {
  padding: 20px;
}
.contenido_carta .titulo {
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
 text-align: center;
}
.contenido_carta .sub-titulo {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
}
.pie p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}
.horario {
  background: #97A97C;
  padding: 40px 0;
  color: #FFFFFF;
  text-align: center;
}
.horario_text {
  font-size: 2.7rem;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 10px 0;
}
.objetivo {
  background: #F5F5F5;
  padding: 50px 0;
}
.contenido_expo {
  display: flex;
  align-items: center;
  max-width: 2000px;
 
}
.imagen_robot  {
  width: 40%;
  border-radius: 5px;
 margin-left: 1%;
 margin-right: 1%;
}
.contenido_texto_obj {
  color: #333;
}
.contenido_texto_obj h2 {
  font-size: 4rem;
  text-align: center;
}
.contenido_texto_obj p {
  font-size: 120%;
  margin-bottom: 30%;
  line-height: 1.6;
margin-top: 5%;
}
@media (max-width: 768px) {
  .contenido_expo {
    flex-direction: column;
  }
  .imagen_robot {
    max-width: 100%;
    margin-right: 0;

  }
}