.body {
    margin: 0;
    padding: 0;
    font-family: 'quicksand';
    box-sizing: border-box;
}

html, body{
  height: 100%;

}

.imagen_fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:  linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../img/escuela.jpg");
    background-position: center;
    z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 100px;
}
.header, .logo, .logo1, .logo2{
  position: fixed;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
.header, .logo1, .logo2{
  position: fixed;
  margin-top: 30px  ;
  display: flex;
  font-weight: 500;
  font-size: 0.8em;
  color: #FFFFFF;
}
.header, .logo2{
  position: fixed;
  margin-top: 45px  ;

}

.header, ul{
  position: fixed;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.header, ul, li{
  position: fixed;
  list-style: none;
  margin: 0;
 
}

.header, ul, li, a{
position: fixed;
  margin: 0 15px;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.6s;
}

.text {
    font-size: calc(2em + 3.20vw);
    font-weight: lighter;
    color: rgb(255, 255, 255); /* Asegúrate de que el texto sea visible sobre el fondo */
    margin: 0;
    letter-spacing: calc(1px + 1vw);
}
.text1 {
    font-size: calc(0.80em + 0.20vw);
    font-weight: lighter;
    color: rgb(255, 255, 255); 
    margin: 0;
    margin-top: -10px;
}
@media (max-width: 450px ) {
    .text{
      font-size: 3rem;
    }
    .text1{
        font-size: 0.90rem;
      }
    
  }
 
.contenedor-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    z-index: 1;
    text-align: center;


}
.button-conteiner {
  display: flex;
  position: relative;
  justify-content:center;

}

a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:lighter;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.4s;
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    text-decoration:none;
    }
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
    } 


.cartaExpo {
  position: relative;
  z-index: 0; /* Asegura que esté debajo del header */
  margin-top: 10vh; /* Ajusta este valor según la altura del header */
  background: #FFFFFF;
}

.titulo_carta {
  font-size: calc(1em + 1vw);
  font-weight: lighter;
  color: rgb(29, 27, 27); 
  margin: 0;
  display: flex;
  justify-content: center;
  height: 15vh;


}
@media (max-width: 450px ) {
  .titulo_carta{
      font-size: 0.90rem;
    }
  
}



.carta_contenedor {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.carta{
  position: relative;
  height: 420px;
  width: 370px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
  transition: 0.4s linear;
}

.carta:hover{
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
}

.carta .imagen_carta{
  background: black;
  height: 400px;
  overflow: hidden;
}

.imagen_carta img{
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.carta.active .imagen_carta img {
  opacity: 0.6s;
  transform: scale(1.1);
}

.carta .contenido_carta{
  position: absolute;
  bottom: 0px;
  background: white;
  width: 100%;
  text-align: center;
  padding: 20px 30px;
}

.contenido_carta .titulo {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.contenido_carta .sub-titulo{
  font-size: 18px;
  font-weight: 500;
  color: #c34343;
  margin-bottom: 10px;
}

.pie p{
  color: #666666;
  font-size: 16px;
  text-align: justify;
  line-height: 1.8em;
}

.pie {
  display: none;
}


